body, html {
    height: 100%;
    margin: 0;
}

.hero {
    background-image: url("../img/mah-jongg-free.jpg");
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px;
}

header h1 {
    background-color: gray;
    color: aquamarine;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: xx-large;
    position: sticky;
    top: 0;
    }

img {
    width: 75px;
    height: 75px;
    float: left;
}

ul {
    top: 0;
    /* width: 75%;  */
    height: 18%;
    background-color: gray;
    list-style-type: none;
    overflow: hidden;
    text-align: center;
    clear: both;
    }

li {
    float: left;
}

li a {
    display: block;
    color: aquamarine;
    padding: 40px 40px;
    font-family: 'Roboto Slab', serif;
    font-size: x-large;
    text-decoration: none;
}

section {
    float: left;
    width: 55%;
    height: 250px;
    margin-left: 15px;
    padding-left: 15px;
    font-style: normal;
    font-family: 'Roboto Slab', serif;
    background-color: aquamarine;
    color: grey;
    display: block;
    border: 1px solid;
    padding: 30px;
    clear: both;
    text-align: center;
}

aside {
    text-align: center;
    float: right;
    margin-left: 15px;
    padding-left: 15px;
    width: 35%;
    height: 300px;
    font-style: normal;
    font-family: 'Roboto Slab', serif;
    background-color: aquamarine;
    color: grey;
    display: block;
    border: 1px solid;
    padding: 10px;
}

iframe {
    border: 5px dotted grey;
    margin: 10px;
}

.story {
    text-align: center;
    float: none;
    width: 100%;
    height: 50%;
    font-family: 'Roboto Slab', serif;
    font-size: larger;
    background-color: aquamarine;
    color: grey;
    display: block;
}

footer {
    clear: both;
    width: 100%;
    background-color: gray;
    text-align: center;
}

.fa-brands {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    height: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa-github-square {
    color: white;
    }

.fa-facebook {
    color: white;
}

.fa-instagram {
    color: white;
}

.fa-linkedin {
    color: white;
}

input[type=text], input[type=email], input[type=number], textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 5px;
    background-color: white
}

input[type=submit] {
    background-color: gray;
    color: aquamarine;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact form {
    text-align: center;
    border-radius: 5px;
    float: right;
    margin-left: 15px;
    padding-left: 15px;
    width: 60%;
    height: 300px;
    font-style: normal;
    font-family: 'Roboto Slab', serif;
    color: grey;
    border: 1px solid;
}

.contact {
    float: left;
    width: 40%;
    height: 500px;
    margin-left: 15px;
    padding-left: 15px;
    margin-bottom: 30px;
    font-style: normal;
    font-family: 'Roboto Slab', serif;
    background-color: aquamarine;
    color: grey;
    border: 1px solid;
    padding: 30px;
    text-align: center;
    }

.photo {
    display: flex;
    justify-content: center;
    height: 600px;
}

.students {
    width: 50%;
    height: 400px;
}
main {
    margin-bottom: 30px;
}